services:
    prometheus:
        image: prom/prometheus:v3.2.1
        ports:
            - "9090:9090" # exposing fixed port for easier access
        volumes:
            -  ./config/prometheus.yaml:/etc/prometheus/prometheus.yml
            - prometheus:/prometheus
        command: 
            [
            '--log.level=debug',
            '--config.file=/etc/prometheus/prometheus.yml',
            '--enable-feature=remote-write-receiver',
            '--query.lookback-delta=30s'
            ]
        networks:
            - loki
    grafana:
        image: grafana/grafana:11.6.0
        ports:
          - "3000:3000"
        environment:
          GF_AUTH_ANONYMOUS_ENABLED: "true"
          GF_AUTH_DISABLE_LOGIN_FORM: "true"
          GF_AUTH_ANPNYMOUS_ORG_ROLE: "Admin"
        volumes:
          - ./config/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yml
          - grafana:/var/lib/grafana
        networks:
          - loki
volumes:
  prometheus:
  grafana:
  
networks:
  loki:
  