@page "/"
@inject IWebHostEnvironment Environment

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="alert alert-info">
    <strong>Environment:</strong> @Environment.EnvironmentName
</div>

Welcome to your new app.
